# General
.DS_Store
.vscode/
.idea/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/
*-checkpoint.ipynb

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Testing
.pytest_cache/
.coverage
htmlcov/

# Environment
.env
