# General
.DS_Store
.vscode/
.idea/
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# Jupyter Notebooks
.ipynb_checkpoints/
*-checkpoint.ipynb
playground_modeling.ipynb

# Data
data/*

# Testing
.pytest_cache/
.coverage
htmlcov/
.html

# Environment
.env
